.Rproj.user
.Rhistory
.RData
.Ruserdata
highfrequency.Rproj
test.R
src/*.o
src/*.so
src/*.dll
notes.R
man/.Rapp.history
.Rbuildignore
_man/*.Rd
taqdata/*
taqdataconverted/*
speed_comparison.html
speed_comparison.Rmd
playground.R
tests/testthat/Rplots.pdf
gitignore/*
inst/doc
src_old/realized_measures.o
src_old/realized_measures.h
src_old/realized_measures.c_old
src_old/realized_measures.c
src_old/old_c_code.cpp
src_old/highfrequency.so
src_old/heavy_model.o
src_old/heavy_model.h
src_old/heavy_model.c
src_old/har_model.o
R/.DS_Store
.DS_Store
CRAN-RELEASE
tests/testthat/Rplots.pdf
doc
Meta
.idea
pickle_reader.py
BAbrajgowicz - spelling?.R
prices.rda
BAprices.rda
article/*.log
article/*.synctex.gz
article/*.sty
article/article-concordance.tex
article/article.tex
article/
article/*
article/article.Rnw
highfrequency.pdf
Figure_1.pdf
Figure_2.pdf
Figure_3.pdf
Figure_4.pdf
Figure_5.pdf
Figure_6.pdf
Figure_7.pdf
Figure_8.pdf
output_vignette.txt