.Rproj.user
.Rhistory
.RData
.Ruserdata
highfrequency.Rproj
test.R
src/*.o
src/*.so
src/*.dll
notes.R
man/.Rapp.history
.Rbuildignore
_man/*.Rd

taqdata/*
speed_comparison.html
speed_comparison.Rmd
playground.R
tests/testthat/Rplots.pdf
gitignore/*
inst/doc
